.player-container {
  background-color: #ffd476;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 
    0 10px 20px rgba(0, 0, 0, 0.1),
    0 6px 6px rgba(0, 0, 0, 0.1),
    inset 0 -5px 12px rgba(0, 0, 0, 0.05);
  text-align: left;
  transform: perspective(1000px) rotateX(2deg);
  border: 2px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 50;
  right: 50
}

.player_name, .team_name_red , .team_name_blue{
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  color: black;
  font-size: 1em;
}

.team_red_span{
  color: red;
}

.team_blue_span{
  color: blue;
}

